/* Add CSS Styling */
.odd{
    background-color: rgba(236, 142, 177, 0.996);
    font-family: verdana, 'DejaVu Sans', sans-serif;    
}

.adjust-font-size{
    font-size: 24px;
}
#two{
    color: #0000FF;
    font-size: 36px;
}


#four{
    background-color: hsl(120, 66%, 72%);
    font-weight: bold;
}